

h1, p, ul{
    text-align: center;
}

.page h1, ul{
        margin:0;  
        padding:0;
    }
    

.num_list{
    list-style: none;
 
}



/*
@media screen and (min-width: 0) {
    body {
        font-size:16px;
    }
}
*/

@media screen and (min-width:400px) {
    .page{
        width: 90%;
    }
    .num_list{
        width: 50%;
    }
    body {
        font-size: 2rem;
    }
     input{
        width:8%;
        height: 30px;
        font-size:1.5rem;
    }
    
    button{
        width:25%;
        height: 50px;
        font-size:1rem;
    }
}


@media screen and (min-width: 900px) {
      .page {
    width: 85%;
  }
  .num_list {
    width: 33%;
  
  }
    body {
        font-size: 40px;
    }

    input{
        width:8%;
        height: 40px;
        font-size:40px;
    }
    
    button{
        width:20%;
        height: 50px;
        font-size:16px;
    }
}

@media screen and (min-width: 1200px) {
     .page {
    width: 80%;
  }
  .num_list {
    width: 25%;
  }
    body {
        font-size: 45px;
    }
    input{
        width:8%;
        height: 45px;
        font-size:45px;
    }
    
    button{
        width:20%;
        height: 45px;
        font-size:20px;
    }
}








